### Import Libraries

In [1]:
import numpy as np
import pandas as pd

### Read File

In [2]:
df = pd.read_csv("data/train.csv")
df.head(5)

,Customer Id,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance
0,3JUN0VW6F043,34,Private Sector/Self Employed,Yes,1300000,6,0,Yes,No,No
1,VLHY2ABIR4QL,28,Private Sector/Self Employed,Yes,750000,7,0,Yes,No,No
2,6E3F7UNXYNFF,28,Private Sector/Self Employed,Yes,750000,6,0,Yes,No,No
3,JJ8R0ZRYWR31,32,Government Sector,Yes,800000,6,1,No,No,No
4,2WGFUEX6IEHM,34,Private Sector/Self Employed,Yes,700000,4,1,No,No,No

In [3]:
df.shape

(1590, 10)

In [4]:
df.dtypes

Customer Id            object
Age                     int64
Employment Type        object
GraduateOrNot          object
AnnualIncome            int64
FamilyMembers           int64
ChronicDiseases         int64
FrequentFlyer          object
EverTravelledAbroad    object
TravelInsurance        object
dtype: object

In [14]:
chronic_diseases = df[df['ChronicDiseases'] == 1]
print(len(chronic_diseases))
result = chronic_diseases[chronic_diseases['TravelInsurance'] == "Yes"]
print(len(result))

445
167

In [6]:
average_annual_income = df['AnnualIncome'].mean()
print(average_annual_income)

928553.4591194969

In [8]:
evertravelled_abroad = df[df['EverTravelledAbroad'] == 'Yes']
print(len(evertravelled_abroad))

302

In [11]:
employment_type = df[df['Employment Type'] == 'Private Sector/Self Employed']
print(len(employment_type))

1155